body,html {
background:#E6E6D1;
font-family:Verdana, sans-serif;
margin-left:auto;
margin-right:auto;
width:970px;
}

a {
color:#333;
text-decoration:none;
}

.strong {
font-weight:700;
}

.warning {
color:red;
font-weight:700;
text-decoration:none;
}

/* ------------------------- 
      Header Styles        
 ------------------------- */
.login {
float:right;
font-size:.70em;
}

.herp {
float:right;
}

.tabs ul {
list-style:none;
margin:0;
padding:0;
}

.tabs li {
background:#D9D4B8;
border-style:solid;
border-width:1px 1px 0 0;
float:left;
font-size:.8em;
margin:0;
position:relative;
top: 7px; 
line-height: 1.6em;
}

.tabs li:first-child {
border-left:1px solid;
border-top-left-radius:5px;
}

.tabs li:last-child {
border-top-right-radius:5px;
}

.tabs li.selected {
background:#AEB08D;
font-size:.9em;
border-top-left-radius:5px;
border-top-right-radius:5px;
padding:2px 5px;
position:relative;
top:1px;
}

.tabs li.selected a {
color:#000;
}

.tabs li a {
display:block;
color:#978470;
padding:1px 7px;
}

/* ------------------------- 
    Main Block Styles      
 ------------------------- */
.main {
background:#AEB08D;
border:1px solid;
border-radius: 5px;
border-top-left-radius: 0px;
clear:both;
padding:10px;
}

.main h1 {
font-size: 1.25em;
border-bottom: 1px solid;
margin-top: 0;
}

.menu {
float:left;
width:19%;
border-right:1px solid #838470;
}

.menu h2 {
font-size:.7em;
margin:0;
padding:2px 0;
text-align:left;
border-bottom:1px solid;
width:90%;
}

.menu ul {
list-style:none;
margin:0;
padding:5px;
}

.menu li {
font-size:.7em;
line-height:1.6em
}

.menu .section {
margin-bottom:5px;
}

.content {
float:right;
width:79%;
}

table {
border-spacing:1px;
text-indent: 5px;
background-color:#636440;
border:1px solid #434250;
border-radius:4px;
font-size:.75em;
width:100%;
}

table caption {
font-size:1.2em;
font-weight:700;
text-align:left;
line-height:1.4em;
}

table caption a {
color:#666;
}

table.stats .col1 {
background:#D6D8C0;
width:18%;
}

table.stats .col2 {
background:#D9D4B8;
width:20%;
}

table.users .col1 {
background:#D6D8C0;
width:20%;
}

table.users .col2 {
background:#D9D4B8;
width:20%;
}

table.log .col1 {
background:#D6D8C0;
width: 15%;
}

table.log .col2 {
background:#D9D4B8;
width:20%;
}

table.log .col3 {
background:#D6D8C0;
}

table th {
background-color:#838470;
}

table td {
border:none;
line-height:1.6em;
font-size:.9em;
}

.content fieldset {
background: #D9D4B8;
border: 1px solid #434250;
margin:0;
border-radius:5px;
}

.content fieldset br {
clear:both;
}

.content legend {
font-size: .8em;
font-weight: 700;
background-color: #838470;
border: 1px solid #434250;
border-radius: 2px;
padding: 1px 5px;
margin-left: 5px;
}

.content label {
display:block;
float:left;
font-size:.75em;
margin:2px;
text-align:right;
width:20%;
}

.content input, select {
background-color:#C3C5A9;
border:1px solid #000000;
font-size:.75em;
padding: 2px;
margin-bottom: 5px
}

.content textarea {
background-color:#C3C5A9;
border:1px solid #000;
}

.content input[type="submit"] {
padding: 3px 4px;
}

.desc {
font-size: 8pt;
font-style: italic;
}

/* ------------------------- 
    Notices
 ------------------------- */

.success {
background-color: #8CDD81;
border: 1px solid #3D8B37;
font-size: 8pt;
margin: 10px 0px;
padding: 10px;
text-align: center;
}

/* ------------------------- 
    Login
 ------------------------- */

#login {
  background-image: url(../manage_login.png);
  width: 380px;
  height: 233px;
  margin: 18% auto 0 auto;
  position: relative;
}

#login_submit {
  margin: 0 auto;
  position: absolute;
  bottom: 15px;
  text-align: center;
  width: 100%;
}

#login_submit input {
  background-color:#AEB08D;
  border:1px solid #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 9px;

}
  
#login_controls {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 125px;
  font-size: 16px;
}
  
#login_controls label {
  width: 35%;
  font-family: arial, verdana, tahoma, sans-serif;
  color: #fff;
  float: left;
  clear: both;
  display: block;
  margin-bottom: 10px;
  padding-right: 15px;
  text-align: right;
}

#login_controls input {
  margin-bottom: 12px;
  font-size: 14px;
  width: 45%;
  background-color:#AEB08D;
  border:1px solid #000000;
  color:#000000;
}

#login_error {
  position: absolute;
  top: 90px;
  width: 90%;
  left: 4%;
  font-size: 13px;
  background: #942323;
  border: 1px solid #7c2323;
  padding: 4px;
  color: #fff;
}