{% extends "manage/wrapper.html.twig" %}

{% block heading %}Graphs{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['corechart']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
      
    function drawChart() {
      var jsonData = '{{ postsperperiod|e('js') }}';
      
      // Create our data table out of JSON data loaded from server.
      var data = new google.visualization.DataTable(jsonData);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('postsoverperiod'));
      chart.draw(data, {width: 400, height: 240});
    }

    </script>
{% endblock %}

{% block managecontent %}

  <div id="postsoverperiod"></div>

{% endblock %}