
###########################
######IMG_GLOBAL.CSS#######
###########################
###########################

/**
 * Globals.
 */

html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9em;
  margin: 0px auto;
}

body {
  margin: 0px 0px;
  padding: 0px 5px 15px 5px;
  margin-left: 2%;
  margin-right: 2%;
}

a, a:visited {
 text-decoration: underline;
}

.spoiler, .spoiler a { 
 color: transparent; 
 background-color: black; 
} 

.spoiler:hover, .spoiler:hover a {
 color: white; 
}

br[clear=left], br[clear=right] {
	line-height: 0;
	display: none;
}

br.clear-left, br.clear-right, br.clear-both {
	line-height: 0;
}

br.clear-left {
	clear: left;
}

br.clear-right {
	clear: right;
}

br.clear-both {
	clear:both;
}

iframe {
	border: 0;
}

ol, li {
	list-style-position:inside;
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin: 1em 0;
    border: 0;
    background-color: #000;
}

/**
 * Header and footer.
 */

#header, #footer {
 clear: both;
 margin-top: 2px;
 padding: 0px;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	clear:both;
	text-align:center;
	font-size:24pt;
	width:100%;
  display:block;
}

.logo+hr {
	display: none;
}


.adminbar {
	display:none;
}

.navbar {
  margin-top:5px;
  padding: .5em;
  text-align:center;
}

.footer {
	text-align:center;
	font-size:10px;
}

#footer {
 padding-top: 5px;
}

#disclaimer {
 text-align: center;
 font-size: 7pt;
 padding: 17px 0 14px;
}

#disclaimer a {
 padding: 0;
 text-decoration: underline;
}

.content.notice {
	text-align:center;
}

/**
 * Posting mode: Reply header,
 */
 
 
.replymode {
  width:100%;
	padding: 5px;
	margin-bottom: 5px;
}
.catalogmode {
  width:100%;
	padding: 5px;
	margin-bottom: 5px;
}

/**
 * Posting form.
 */

#postarea {
  text-align: center;
  padding: 0;
  display: block;
  overflow: hidden;
  min-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

#posting_form {
  display: inline-table;
  border-spacing: 2px;
  overflow: hidden;
}

#posting_form ol, #posting_form ol li {
 list-style: none;
}

#posting_form ol li {
 clear: left;
 display: table-row; 
 text-align: left;
}

#posting_form label {
 display: table-cell;  
 padding: 3px 0 3px 1px;
 width:auto;
} 

#posting_form label + * {
    margin-left: 2px;
}

#message_label {
 vertical-align: middle;
}

#posting_form input {
    margin-top: 0;
    margin-bottom: 0;
}

#posting_form input[type="text"], 
#posting_form input[type="password"], 
#posting_form input[type="file"],
#posting_form select,
#posting_form textarea {
 padding: 3px 4px 3px 1px;
 margin: 0px;
}

#posting_form input[type="text"],
#posting_form input[type="password"],
#posting_form textarea {
	width: 100%;
}

#posting_form .fixer {
	margin: 0;
  float: left;
  padding-right: 10px;
}

#posting_form input[type="submit"] {
 margin-bottom: 1px;
 margin-left: 3px;
 margin-bottom: 2px;
 margin-left: 2px;
} 

#posting_form textarea {
 resize:none;
 width: 100%;
 min-height: 83px;
}

/* IE 6 Hacks */

* html form#posting_form {
 display: block;
 width: 980px;
 margin-left: auto;
 margin-right: auto;
}

* html form#posting_form ol {
  width: 480px;
}


* html #posting_form label {
 float:left;
 margin-top: 2px !important;
 margin-bottom: 2px !important;
 display: inline;
 width: 90px !important;
}


* html #posting_form input[type="password"] {
 width: 70%;
}

* html #posting_form input[type="file"],
* html #posting_form textarea,
* html #posting_form input[type=text] {
 width: 350px;
}

* html .fixer {
  float: none !important;
  display: inline;
  padding:  0;
}
* html .fixer input {
  width: 200px !important;
}

#posting_form ol li span {
	font-size: .9em;
}

#rules ul#tabs {
	width: 100%;
	height: 1.9em;
	list-style: none;
	border-bottom: 1px solid;
	padding: 0 22px 1px 0;
	margin: 0;
	position: relative;
	right: 11px;
	bottom: 2px;
}

#rules ul#tabs li {
float: left;
padding: 1px 7px;
line-height: 1.7em;
margin: 0 -1px 0 0;
border: 1px solid #C5C8D2;
border-bottom: 0;
text-align: center;
}

#rules ul#tabs li.selected {
	line-height: 1.7em;
  padding-bottom: .2em;
}


/* The same, but for IE7 */

*:first-child+html form#posting_form { 
 display: block;
 width: 980px;
 margin-left: auto;
 margin-right: auto;
}

*:first-child+html form#posting_form ol {
	width: 480px;
}

*:first-child+html #posting_form label {
 float:left;
 margin-top: 2px !important;
 margin-bottom: 2px !important;
 margin-right: 2px !important;
 display: inline;
 width: 90px;!important;
}
*:first-child+html #posting_form label[htmlFor="message"] {
	line-height: 100px;
	vertical-align:middle;
}

*:first-child+html #posting_form label[htmlFor="captcha"] {
	 line-height: 160px;
}

*:first-child+html #posting_form input[type=text] {
 width: 350px;
}


*:first-child+html #posting_form input[type="password"] {
 width: 60%
}

*:first-child+html #posting_form input[type="file"],
*:first-child+html #posting_form textarea {
 width: 60%;
}

*:first-child+html .fixer {
	float: none !important;
	display: inline;
	padding:  0;
}
*:first-child+html .fixer input {
	width: 200px !important;
}

*:first-child+html small {
	float: none;
}
/*
#posting_form > ol, #rules {
  display: block;
  float: left;
  margin-right: 5px;
  padding: 10px;
  clear: none;
  width: auto;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 9000px;
  margin-bottom: -9000px;
}

#rules {
  border: 1px solid;
  text-align: left;
  font-size: 10px;
  padding: 1px 0 0;
  padding-bottom: 9000px;
  width: 400px;
  margin-left: 0;
}
*/
#posting_form > ol, #rules {
display: block;
float: left;
margin-right: 5px;
padding: 10px;
clear: none;
width: auto;
margin-top: 0;
padding-top: 0;
padding-bottom: 9000px;
margin-bottom: -9000px;
text-align:left;
}
#rules {
width: 400px;
font-size: 10px;
font-family: sans-serif;
}
#rules a {
  text-decoration: none;
}

#rules li {
	margin-left: 1em;
}

#rules .title {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
		margin-bottom: 15px;
		margin-top: 10px;
}

#rules ul {
    display: block;
    margin-left: 60px;
}

#recaptcha_logo, #recaptcha_tagline {
    display: none;
}

#recaptcha_table {
    border: 0 !important;
}

.recaptcha_image_cell {
    background-color: transparent !important;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/**
 * Threads and posts
 */

table.uploads {
 margin-left:auto; 
 margin-right:auto;
}

table.uploads th {
 padding: 3px 0 3px 1px;
 width:auto;
}

.thread {
 padding-top: 5px;
 padding-bottom: 5px;
}

.post {
  padding-bottom: 7px;
  height: auto;
  border: 1px solid;
}

.post_thumb {
 width: auto;
 float: left;
 padding: 0px 20px 15px;
 margin: 3px 0px 3px;
}

.op .post {
  padding: 0;
  margin: 0;
}

.op .post .message,
.post:first-child .message {
  margin-left: 20px;
}

.reflink a {
 color: inherit;
 text-decoration: none;
}

.reflink a:hover{
 color: #800000;
}

.reply {
 display: block;
 margin-bottom: 4px;
 clear: right;
 width: auto;
}

.reply .post {
  display: inline-block;
  clear: none;
  max-width: 95%;
  padding: 2px;
  padding-right: 10px;
  margin-left: 0;
  width: auto;
}

.doubledash {
  float: left;
  position: relative;
  left: -22px;
  width: 0;
  padding-left: 2px;
  margin-left: -.5em;
  clear:both;
  font-size: 1.5em;

}

.post_thumb img {
 border: none;
}

.nothumb {
 float: left;
 background: inherit;
 border: 2px dashed #aaa;
 text-align: center;
 margin: 2px 20px;
 padding: 1em 0.5em 1em 0.5em;
 font-family: none;
}

.reply .post_thumb {
 margin: 3px 0;
}

.file_size {
	font-size:12px;
	padding-left:3em;
}

.reply .file_size {
 padding-left: 20px;
}
.reply .message {
 margin-left: 20px;
}

.postername, .subject, .filesize {
 unicode-bidi: embed;
}

.postername {
  font-size:12px;
  font-weight: 800;
}

.subject {
  font-size: 16px;
  font-weight: 800;
}

.post_link, .post_link:visited {
 text-decoration: none;
}

.comment .post_link, .comment .post_link:visited {
 text-decoration: underline;
}

.abbrev {
 display: block;
 clear: both;
}

.replies {
    margin-left: 30px;
		margin-top: 10px;
}

.post_header img {
 vertical-align: middle;
}

.post_header {
    border-bottom: 1px solid;
		margin-bottom: 10px;
		padding: 0 .5em;
		line-height: 2em;
}

.reply .post_header {
    border: 0;
}

/**
 * Thread controls, style switcher, index paging
 */
 
#thread_controls {
 text-align: center;
 float:right;
}

.extrabtns {
  float:right;
}

.hidethread {
 background: transparent url('./icons/blue/icons.gif') -32px -16px no-repeat;
}

.unhidethread {
 background: transparent url('./icons/blue/icons.gif') -48px 0px no-repeat;
}

.watchthread {
 background: transparent url('./icons/blue/icons.gif') -32px 0px no-repeat;
}

.expandthread {
 background: transparent url('./icons/blue/icons.gif') 0px -16px no-repeat;
}

.quickreply {
 background: transparent url('./icons/blue/icons.gif') 0px 0px no-repeat;
}

.hidewatchedthreads {
 background: transparent url('./icons/blue/icons.gif') -48px -16px no-repeat;
}

.refreshwatchedthreads {
 background: transparent url('./icons/blue/icons.gif') -16px -16px no-repeat;
}

.restorewatchedthreads {
 background: transparent url('./icons/blue/icons.gif') -16px 0px no-repeat;
}

.reflinkpreview {
 position: absolute;
 padding: 5px;
 border: 1px dotted #000000;
 z-index: 1;
}

.reflinkpreview .post {
	border: 0 ;
}

#paging {
 position: relative;
 float: left;
 width: auto;
}

#paging ul {
 height: 22px;
 margin: 0;
 padding: 4px 2px 2px 4px;
 list-style: none;
 position: relative;
 display: inline-block;
 border-width: 1px;
 border-style: none solid solid none;
}

#paging li {
 float: left;
 display: block;
 position: relative;
 top: 2px;
 padding: 0px 3px;
 width: auto;
}

#paging a {
 text-decoration: none;
}

#paging input {
 position: relative;
 top: -2px;
}

#paging .current {
 font-weight: bold;
}

#styles {
 padding-left: 4px;
}

/**
 * Capcodes
 */

.capcode_system
{
 color: purple;
 font-weight: bold;
}

.capcode_system .postertrip
{
 color: purple;
 font-weight: normal;
}
.capcode_system .postername
{
 color: purple;
 font-weight: bold;
}

.capcode_admin
{
 color: #f00000;
 font-weight: bold;
}

.capcode_admin .postertrip
{
 color: #ff0000;
 font-weight: normal;
}

.capcode_admin .postername
{
 color: #ff0000;
 font-weight: bold;
}


.capcode_mod
{
 color: #800080;
 font-weight: bold;
}

.capcode_mod .postertrip
{
 color: #900090;
 font-weight: normal;
}

.capcode_mod .postername
{
 color: #900090;
 font-weight: bold;
}

/**
 * Misc. functions
 */
 
ol li label {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    font-size: 12px;
}

ol li * {
    vertical-align: middle;
}
 
ol li small {
		float:left;
		margin-top: .5em;
}
