:root {
  --color1: #000000;
  --color2: #90a959;
  --color6: #d0d9b6;
  --color3: #6494AA;
  --color4: #F9F9F9;
  --color5: #A63D40;
  --color5_10: #A63D4010;
  --color5_50: #A63D4050;
}

html {
  background: linear-gradient(0deg, var(--color2) 0%, var(--color6) 100%);
  font-family: sans-serif;
  font-size: 14px;
  min-height: 100%;
}

body {
  max-width: 1200px;
  color: #000000;
  margin: 0px auto;
}

a[href],
a[href]:visited {
  color: #34345C;
  text-decoration: none;
}

a[href]:hover {
  color: #DD0000;
}

h1 {
  color: var(--color5);
}


h3 {
  border-bottom: 1px dashed var(--color5);
}

h4 {
  background-color: var(--color6);
}

h6 {
  color: var(--color5);
}

section#recent {
  background-color: var(--color6);
  border: 1px solid var(--color5);
}

section#recent section#posts li {
  border-bottom: 1px solid var(--color2);
}

section#recent section#posts li:nth-child(even) {
  background-color: var(--color4);
}

section#news {
  background-color: var(--color4);
  border-bottom: 1px solid var(--color5);
  border-left: 1px solid var(--color5);
  border-right: 1px solid var(--color5);
}

section#news header {
  background-color: var(--color6);
  border-top: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
}

section#news header ul li {
  border-right: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
}

section#news header ul li.selected {
  background-color: var(--color4);
  border-bottom: 1px solid transparent;
}

section#boardlist {
  background-color: var(--color4);
  border: 1px solid var(--color5);
}

section#boardlist li:hover {
  background: #C6DAF0;
}

div.wrap.hfix .lcol {
  border: 1px solid var(--color5);
}

div.wrap.hfix .rcol {
  border: 1px solid var(--color5);
}

body>footer #foot_boardlist {
  background-color: var(--color4);
  border: 1px solid var(--color5);
}